@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Students</h1>
    <p>
        <ul style="list-style-type: none;">
            @foreach (string student in Model.students){
                <li>@student</li>
            }
        </ul>
    </p>
</div>
